<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ pageName }}</title>
  <link rel="stylesheet" media="all" href="css/main.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, 'js');
  </script>
  <!--[if lt IE 9]>
    <script src="js/lt-ie9.min.js"></script>
  <![endif]-->
</head>


<body>

  <nav class="accessibility-nav">
    <ol>
      <li><a href="#navigation">Skip to navigation</a></li>
      <li><a href="#content">Skip to content</a></li>
    </ol>
  </nav>
  <!-- / accessibility-nav -->

  <div class="container top">
    <header class="header">
      <a href="index.html" rel="index" title="Go to homepage">HTM Logger</a>
    </header>
    <!-- / header -->

    <nav class="navigation" id="navigation">
      <ul class="navigation-list">
        <li>
          <iframe src="navigation-goto.html" seamless class="navigation-iframe"></iframe>
        </li>
        <li><a href="configuration.html">Configuration</a></li>
        <li><a href="legend.html">Legend</a></li>
      </ul>
    </nav>
    <!-- / navigation -->
  </div>
  <!-- / container -->


  <article class="container">
    <aside class="sidebar"></aside>
    <div class="content" id="content">
      <h1>Configuration</h1>

      <h2>Core parameters</h2>
      <ul>
        {{#each core_config}}
        <li><strong>{{ key }}:</strong> {{ value }}</li>
        {{/each}}
      </ul>

      <h2>Wrapper parameters</h2>
      <ul>
        {{#each wrapper_config}}
        <li><strong>{{ key }}:</strong> {{ value }}</li>
        {{/each}}
      </ul>

    </div>
    <!-- / content -->
  </article>
  <!-- / container -->

  <footer class="footer">

  </footer>
  <!-- / footer -->

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>')
  </script>

  <script src="js/main.js"></script>


</body>

</html>