<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ pageName }}</title>
  <link rel="stylesheet" media="all" href="css/main.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, 'js');
  </script>
  <!--[if lt IE 9]>
    <script src="js/lt-ie9.min.js"></script>
  <![endif]-->
</head>


<body>

  <nav class="accessibility-nav">
    <ol>
      <li><a href="#navigation">Skip to navigation</a></li>
      <li><a href="#content">Skip to content</a></li>
    </ol>
  </nav>
  <!-- / accessibility-nav -->

  <div class="container top">
    <header class="header">
      <a href="index.html" rel="index" title="Go to homepage">HTM Logger</a>
    </header>
    <!-- / header -->

    <nav class="navigation" id="navigation">
      <ul class="navigation-list">
        <li>
          <iframe src="navigation-goto.html" seamless class="navigation-iframe"></iframe>
        </li>
        <li><a href="configuration.html">Configuration</a></li>
        <li><a href="legend.html">Legend</a></li>
      </ul>
    </nav>
    <!-- / navigation -->
  </div>
  <!-- / container -->


  <article class="container">
    <aside class="sidebar"></aside>
    <div class="content" id="content">
      <h1>Legend</h1>

      <section id="layer">
        <h2>Layers Visualisation</h2>

        <h3>Table headers</h3>
        <ul>
          <li><var>x</var> - column with index <var>x</var></li>
          <li><strong>[ <var>x</var> ]</strong> - active column</li>
        </ul>

        <h3>Table contents</h3>
        <ul>
          <li><var>x</var>-<var>y</var> - cell <var>y</var> in column <var>x</var></li>
          <li>{ <var>x</var>-<var>y</var> } - predictive cell</li>
          <li><strong>[ <var>x</var>-<var>y</var> ]</strong> - active cell</li>
          <li>L( <var>x</var>-<var>y</var> ) - learning cell</li>
        </ul>
      </section>

      <section id="column">
        <h2>Column Visualisation</h2>

        <h3>Table headers</h3>
        <ul>
          <li><var>s</var>&nbsp;@&nbsp;<var>x</var> - input with state <var>s</var> and index <var>x</var></li>
        </ul>

        <h3>Table contents</h3>
        <ul>
          <li><var>v</var> - synapse with <code><var>perm_value</var> = </code> <var>v</var></li>
          <li>&lt; <var>v</var> &gt; - connected synapse (<code><var>perm_value</var> &gt;= <var>connected_perm</var></code>)</li>
          <li><strong>[ <var>v</var> ]</strong> - active synapse</li>
        </ul>
      </section>

      <section id="cell">
        <h2>Cells Visualisation</h2>

        <h3>Table headers</h3>
        <ul>
          <li><var>z</var> - segment with index <var>z</var></li>
          <li><strong>[ <var>z</var> ]</strong> - active segment (amount of connected, active synapses <code>&gt;= <var>activation_threshold</var></code>)</li>
          <li><strong>!</strong> - sequential segment</li>
          <li><strong>L</strong> - learning segment (amount of connected synapses attached to learning cells <code>&gt;= <var>activation_threshold</var></code>)</li>
        </ul>

        <h3>Table contents</h3>
        <ul>
          <li><var>v</var>&nbsp;@&nbsp;<var>x</var>-<var>y</var> - synapse with <code><var>perm_value</var> = </code><var>v</var> attached to cell <var>y</var> in column <var>x</var></li>
          <li>&lt; <var>v</var>&nbsp;@&nbsp;<var>x</var>-<var>y</var> &gt; - connected synapse (<code><var>perm_value</var> &gt;= <var>connected_perm</var></code>)</li>
          <li><strong>[ <var>v</var>&nbsp;@&nbsp;<var>x</var>-<var>y</var> ]</strong> - active synapse (synapse attached to active cell)</li>
          <li>L( <var>v</var>&nbsp;@&nbsp;<var>x</var>-<var>y</var> ) - synapse attached to learning cell</li>
        </ul>
      </section>

    </div>
    <!-- / content -->
  </article>
  <!-- / container -->

  <footer class="footer">

  </footer>
  <!-- / footer -->

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>')
  </script>

  <script src="js/main.js"></script>


</body>

</html>