<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ pageName }}</title>
  <link rel="stylesheet" media="all" href="css/main.css">
  <script>
    document.documentElement.className = document.documentElement.className.replace(/(\s|^)no-js(\s|$)/, 'js');
  </script>
  <!--[if lt IE 9]>
    <script src="js/lt-ie9.min.js"></script>
  <![endif]-->
</head>


<body>
  <form class="navigation-goto" data-toggle="goto-iteration">
    <label for="go-to">Go&nbsp;to&nbsp;iteration&nbsp;(0&nbsp;&ndash;&nbsp;{{ last_iteration_index }}):</label>
    <input id="go-to" type="number" min="0" max="{{ last_iteration_index }}" step="1">
    <button type="submit" class="btn">Go</button>
  </form>

  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="js/jquery.min.js">\x3C/script>')
  </script>

  <script src="js/main.js"></script>


</body>

</html>